.recent-container {
  background-color: #0f0715;
  text-align: center !important;
  padding-bottom: 80px;

  //   For Desktop
  .portfolio-filter {
    text-align: center;
    padding: 20px 0;
    margin-top: 2rem;
    .button-group {
      position: relative;
      display: inline-block;
      background-color: #050709;
      border-radius: 60px;
      padding: 6px 8px;

      .button {
        background: transparent;
        border: none;
        color: white;
        text-transform: capitalize;
        font-size: 15px;
        padding: 12px 25px;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        z-index: 10;
        transition: color 0.3s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1.1px;
        &.active {
          color: #ffffff !important;
        }

        &:hover {
          color: #8750f7;
        }
      }

      .active-bg {
        border-radius: 50px;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        background: #8750f7;
        background: -o-linear-gradient(190deg, #2a1454 0%, #8750f7 100%);
        background: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      }
    }
  }

  //  For Mobile
  .mobile {
    display: none;
    .dropdown {
      width: 80%;
      padding: 10px;
      font-size: 16px;
      border-radius: 50px;
      border: 1px solid #2a2a2a;
      background-color: #2a2a2a;
      color: white;
      text-transform: capitalize;
    }
  }

  @media (max-width: 700px) {
    margin-top: 0;
    padding: 40px 5px;
    .portfolio-filter {
      padding: 0;
    }
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }

  .projects-section {
    padding-top: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    visibility: visible;
    animation-delay: 0.6s;
    animation-name: fadeInUp;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 35%;
      height: 35%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: #8750f7;
      background: -o-linear-gradient(
        190deg,
        #8750f7 0%,
        rgba(115, 67, 210, 0) 100%
      );
      background: linear-gradient(
        260deg,
        #8750f7 0%,
        rgba(115, 67, 210, 0) 100%
      );
      filter: blur(150px);
    }

    .portfolio-item {
      background-color: #140c1c;
      margin-bottom: 4%;
      padding: 36px 36px 0 36px;
      border-radius: 10px;
      width: 48%;
      box-sizing: border-box;
      position: relative;
      //   z-index: 1;
      .image-box {
        text-align: center;
        height: 25rem;
        overflow: hidden;
        max-width: 100%;
        border-radius: 10px;

        img {
          position: relative;
          max-width: 100%;
        }
      }

      .content-box {
        color: white;
        position: absolute;
        bottom: 15px;
        left: 0;
        background: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
        width: calc(100% - 40px);
        border-radius: 15px;
        margin: 0 auto;
        right: 0;
        padding: 20px 50px 20px 20px;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-size: 30px;
          line-height: 1.2;
          font-weight: 700;
          margin-bottom: 15px;
        }
        a {
          color: white;
        }
        svg {
          font-size: 1.7rem;
          transition: transform 0.5s ease-in-out;
        }
      }

      &:hover .content-box {
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }

      &:hover .content-box svg {
        transform: rotate(360deg);
      }
    }

    // Responsive styles
    @media (max-width: 1200px) {
      .portfolio-item {
        width: 48%;
      }
    }

    @media (max-width: 992px) {
      .portfolio-item {
        width: 48%;
      }

      .content-box {
        h3 {
          font-size: 24px;
        }

        svg {
          font-size: 1.5rem;
        }
      }
    }

    @media (max-width: 768px) {
      padding-top: 26px;
      .portfolio-item {
        width: 100%;
      }

      .content-box {
        h3 {
          font-size: 22px;
        }

        svg {
          font-size: 1.3rem;
        }
      }
    }
    @media (max-width: 576px) {
      .portfolio-item {
        width: 100%;
        padding: 20px;
      }

      .image-box {
        height: 14rem !important;
      }

      .content-box {
        h3 {
          font-size: 20px;
        }

        svg {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.projectSection-main {
  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    max-width: 1320px;
    margin: 0 auto;
    @media (max-width : 700px) {
      justify-content: center;
    }
    button {
      margin: 0 10px;
      color: #8750f7;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 2.5rem;
      background: transparent;
    }
    & button:disabled {
      color: #473075;

      cursor: not-allowed;
    }

    & span {
      margin: 0 10px;
      color: white;
      transform: translateY(-3px);
    }
  }
}
