.contact-section {
  background-color: #0f0715;
  padding: 120px 0;

  @media (max-width: 700px) {
    padding: 50px 25px !important;
  }

  .contact-box {
    max-width: 1320px;
    margin: 0 auto;

    .heading-box {
      text-align: center !important;

      p {
        padding: 1rem 0;
        font-weight: 600;
        color: #dddddd;

        @media (max-width: 768px) {
          font-size: 12px;
          line-height: 1.7;
          text-align: justify;
        }
      }
    }

    .wrapper {
      padding-top: 4rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .icon-wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;
        color: white;
        padding: 0.8rem 0;
        flex: 1 1 300px;
        max-width: 100%;

        .icon-box {
          padding: 0.8rem;
          border-radius: 50%;
          background: linear-gradient(
            260deg,
            #8750f7 0%,
            rgba(115, 67, 210, 0) 100%
          );

          svg {
            color: rgba(255, 255, 255, 0.792);
            font-size: 1.4rem;

            @media (max-width: 768px) {
              font-size: 1.2rem;
            }

            @media (max-width: 576px) {
              font-size: 1rem;
            }
          }
        }
        .content {
          letter-spacing: 0.9px;
          p {
            margin: 8px 0;
            @media (max-width: 768px) {
              font-size: 14px;
            }

            @media (max-width: 576px) {
              font-size: 12px;
            }
          }

          .phone-link {
            text-decoration: none;
            color: inherit;
          }

          h3 {
            margin: 0;
            font-size: 20px;
            font-weight: 500;
            transition: color 0.5s ease;
            text-decoration: none;
            color: inherit;

            &:hover {
              color: #8750f7;
              cursor: pointer;
            }
            @media (max-width: 768px) {
              font-size: 16px;
            }

            @media (max-width: 576px) {
              font-size: 14px;
            }
          }
        }
      }

      .left-box {
        position: relative;
        width: 200px;
        height: 200px;

        .icon-box {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 75px;
          height: 75px;
          background: linear-gradient(
            260deg,
            #8750f7 0%,
            rgba(115, 67, 210, 0) 100%
          );
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(-50%, -50%);
          svg {
            color: white;
            font-size: 2.2rem;
          }
        }

        .rotate-text {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          svg {
            fill: currentColor;
            height: auto;
            max-width: 40vmin;
            transform-origin: center;
            width: 100%;
            height: 85%;
          }

          text {
            fill: rgba(255, 255, 255, 0.831);
            letter-spacing: 1.8px;
            font-weight: 500;
          }

          @keyframes rotate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }

          svg {
            animation: rotate 35s linear infinite;
          }
        }
      }

      @media (max-width: 1200px) {
        .left-box {
          width: 180px;
          height: 180px;

          .icon-box {
            width: 70px;
            height: 70px;
            svg {
              font-size: 2rem;
            }
          }

          .rotate-text {
            svg {
              font-size: 8.5px;
            }
          }
        }
      }

      @media (max-width: 992px) {
        .left-box {
          width: 160px;
          height: 160px;

          .icon-box {
            width: 60px;
            height: 60px;
            svg {
              font-size: 1.8rem;
            }
          }

          .rotate-text {
            svg {
              font-size: 8px;
            }
          }
        }
      }

      @media (max-width: 768px) {
        padding-top: 0;
        .wrapper-sec {
          padding: 1.2rem 0;
        }
        .left-box {
          width: 140px;
          height: 140px;

          .icon-box {
            width: 50px;
            height: 50px;
            svg {
              font-size: 1.5rem;
            }
          }

          .rotate-text {
            svg {
              font-size: 7px;
            }
          }
        }
      }

      @media (max-width: 576px) {
        .left-box {
          width: 120px;
          height: 120px;

          .icon-box {
            width: 40px;
            height: 40px;
            svg {
              font-size: 1.2rem;
            }
          }

          .rotate-text {
            svg {
              font-size: 6px;
            }
          }
        }
      }

      @media (max-width: 400px) {
        .left-box {
          width: 100px;
          height: 100px;

          .icon-box {
            width: 30px;
            height: 30px;
            svg {
              font-size: 1rem;
            }
          }

          .rotate-text {
            svg {
              font-size: 5px;
            }
          }
        }
      }
    }
  }
}
